<div class="wiz">
<h2>Results of the guided search</h2>

<table>
  <% @publications.each do |article| %>
  <tr>
    <td>
      <%= link_to article.title, publication_path(article.id) %>
    </td>
  </tr>
  <% end %>
</table>

<%= paginate @publications, :remote => false %>

<p>Did you not find what you were looking for? You can try again with different filters or you can try the alternative way of searching.</p>
<%= link_to "Try again", article.guide_path(:type), :class=>"mock-btn" %>
<%= link_to "Try alternative", article.publications_path, :class=>"mock-btn" %>
</div>